<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <style>
      body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; color: #FFFFFF; }
      a, a:hover, a:active, a:visited { color: white; }
      #container {background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); background-size: 400% 400%; animation: gradient 15s ease infinite; min-height: 100vh;}
      @keyframes gradient {
                    0% {
                      background-position: 0% 50%;
                    }
                    50% {
                      background-position: 100% 50%;
                    }
                    100% {
                      background-position: 0% 50%;
                    }
                  }

      #form { background: rgba(220, 142, 142, 0.845); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
      #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
      #input:focus { outline: none; }
      #form > button { background: linear-gradient(to bottom right, #EF4765, #FF9A5A); border: 0; border-radius: 12px; color: #FFFFFF;
                      cursor: pointer;display: inline-block;
                      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 2.5;
                      outline: transparent;
                      padding: 0 1rem;
                      text-align: center;
                      text-decoration: none;
                      transition: box-shadow .2s ease-in-out;
                      user-select: none;
                      -webkit-user-select: none;
                      touch-action: manipulation;
                      white-space: nowrap; 
                    }
      #form > button:focus {box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);}
      #form > button:hover {box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);}
      #status {  color: white;  width: 25%;}
      /* Can't figure out why the chat deforms when theres no text or randomly  */
      #messages { list-style-type: none; margin: 0; padding: 0; }
      /* #messages > li { padding: 0.5rem 1rem; } */
      #messages > li:nth-child(odd) { border-radius: 5%; border-color: #FFFFFF; border-style: solid; width: fit-content; margin-bottom: 15px;}
    </style>
  </head>
  <body>
    

    
    <div id="container">
      <%- include('./partials/nav') %> 
    <% if (user) { %>
      <h1 class="text-orange-400">Welcome to the chat, </h1> <h1 id="user"><%= user.username %></h1>
      <% } else { %>
        <h1>Welcome to the chat,</h1><h1 id="user">Guest</h1>
      <% } %>
      <p class="text-red-600">An app for chatting with your friends </p>
      <p id="status" > </p>
    
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" class="balloon" value= 
      <% if (user) { %>
        " <%= user.username %>: " 
        <% } else { %>
          "Guest: "
        <% } %>

      />
      <button>Send</button>  
    
    <!-- Sockets scripts must always be at the bottom of the body  -->
    <script src="/socket.io/socket.io.js"></script>
<script>
  

  const socket = io();

  let messages = document.getElementById('messages');
  // let handle = placeholder need a way to call ejs
  let form = document.getElementById('form');
  let user = document.getElementById('user');   // calling for the ejs user thing
  let status = document.getElementById('status');
  let input = document.getElementById('input');

  form.addEventListener('submit', function(e) {  // this is the code that sends the chat messages, need to figure out how to add ejs variable to it to bake the name of who is logged in 
    e.preventDefault();
    if (input.value != "") {
      socket.emit('chat message', input.value);
      input.value = user.innerHTML+ ': ';
    }
  });

  socket.on('chat message', function(msg) {  // handling chat event
    var item = document.createElement('li');
    item.textContent = msg;   // this adds the text to the chat board through dom events, possible area to add baked in name 
    messages.appendChild(item);
    status.innerHTML = ''  // this clears the status bar once you submit
    window.scrollTo(0, document.body.scrollHeight);
  });
  form.addEventListener('keypress', ()=>{
  socket.emit('typing', user.innerHTML) // placeholder for ejs user 
  })

 
// Listen for events
socket.on('typing', (data) =>{
    if (data) {
      status.innerHTML = '<p><em>' + data + ' is typing...</em></p>';
    } else {
      status.innerHTML = ''
    }
});

</script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
       $(function () {
            var socket = io();
            $('form').submit(function(){
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
            });
        });
    </script>
    <!-- This code above is needed to communicate with the socket server and give terminal feedback when it connects/disconnects  -->
  </div>
  </body>
</html>


 