<form action="/chat" method="POST">
    <label for="username">Username</label>
    <input type="text" id="user" name="username"/>

    <label for="message">Message</label>
    <input type="text" id="message" name="message"/><br>
    <button type="submit" >Submit</button>
</form>